* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: url("images/Genshin Impact 4_0 release date, Fontaine, new characters, and more.jpg") no-repeat center center/cover;
}
body>img{
            backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.35);
}
#gameCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
