*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
background-image: linear-gradient(to right top, #0a6ed3, #075fb8, #06519d, #054383, #04356a);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 400px;
    height: 600px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
      background: url("images/furina backdrop i have no idea were this is from pookies _3.jpg") no-repeat center center/cover;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    width: 260px;
    padding: 18px 0;
    font-size: 26px;
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: white;
    cursor: pointer;
    transition: 0.35s;
        backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.35);
}

button:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.06);
}
